body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(103, 190, 186);

}
.limiter{
    text-align: center;
    width: 500px;
    height: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000000;
    border-radius: 20px;
    box-shadow: 5px 2px 30px 2px rgb(53, 52, 52);
    transform: translate(-50%,-50%);
    visibility: hidden; 

}
.limiter h1{
    padding-top: 0;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: xx-large;
}
.limiter .input100, #usernamesignup,#emailsignup,#passwordsignup,#passwordsignup_confirm{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 17px 10px;
    width: 350px;
    outline: none;
    color: white;
    font-size: large;
    border-radius: 20px;
    transition: 0.5s;

}
.limiter .input100:focus{
    width: 400px;
    border-color: #2ecc71;
    transition: 0.25s;
}
.login-btn, .signin_button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 17px 10px;
    width: 250px;
    outline: none;
    color: white;
    font-size: large;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.login-btn:hover,.signin_button:hover{
    background: #2ecc71;
}
.sign-up{
    padding: 20px;
}
.sign-up .txt1{

    color: white;
}
.sign-up a, .change_link a{
    color: #3498db;
    text-decoration: none;
    border: 2px solid #9400D3;
    padding: 10px;
    border-radius: 20px;
}
.sign-up a:hover, .change_link a:hover{
    background: #9400D3;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
small{
    visibility: hidden;
    color: white;
    top: 0;
    margin: 0;
    /* text-align: right; */
    padding-right: 200px;
}
.validation{
    visibility: visible;
}

#register{
	position: absolute;
    text-align: left;
    display: flexbox;
    width: 500px;
    height: 100vh;
    padding: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
    background: #000000;
    color: white;
    border-radius: 20px;
    box-shadow: 5px 2px 30px 2px rgb(53, 52, 52);
    transform: translate(-50%,-50%);
    visibility: visible;
	
}
#register h1{
    color: white;
    text-align: center;
}
#register label{
    position: relative;
    text-align: center;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(20, 20, 20); 
    background: rgb(15, 15, 15);
}
.change_link{
    text-align: center;
    padding: 20px;
}